@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_IntraNetLayout.cshtml";
}
@using Alge.Models.Order

<h2>Pedidos do usuário: @ViewBag.UserEmail</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID Pedido</th>
            <th>Valor Pedido</th>
            <th>Status</th>

            <th>Alterar o status</th>
           
        </tr>
    </thead>

    <tbody>
        @foreach (Order order in ViewBag.orders)
        {
        <tr style="height:220px;">
            <td>@order.id_pedido</td>
            <td>@String.Format("R$ {0:N2}", @order.valor_total)</td>
            <td>@order.OrderStatus</td>
            <td style="min-height:230px;">
                <nav class="navbar navbar-inverse">

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Status

                            </a>
                            <ul class="dropdown-menu">
                                <li><a onclick="ChangeOrderStatus(@order.id_pedido,@order.fk_usuario,@Convert.ToInt32(OrderStatus.aguardando_aprovacao))" href="#">Aguardando aprovação de orçamento</a></li>
                                <li><a onclick="ChangeOrderStatus(@order.id_pedido,@order.fk_usuario,@Convert.ToInt32(OrderStatus.orcamento_aprovado))" href="#">Orçamento Aprovado</a></li>
                                <li><a onclick="ChangeOrderStatus(@order.id_pedido,@order.fk_usuario,@Convert.ToInt32(OrderStatus.completed))" href="#">Completado</a></li>
                                <li><a onclick="ChangeOrderStatus(@order.id_pedido,@order.fk_usuario,@Convert.ToInt32(OrderStatus.cancelado))" href="#">Cancelado</a></li>
                            </ul>
                        </li>

                    </ul>

                </nav>
            </td>


        </tr>
           
        }

    </tbody>

</table>

<script>
    function ChangeOrderStatus(ID, ID_User, OrderStatus) {
        var Order = {
            id_pedido: ID,
            fk_usuario: ID_User,
            OrderStatus: OrderStatus,
            
           
        };

        $.ajax({
            method: "POST",
            url: "/Admin/ChangeOrderStatus",
            data: JSON.stringify(Order),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        })
            .done(function (obj) {
                alert(obj.message);
                window.location.reload();
            });
    }
</script>
