<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/node_modules/bootstrap/compiler/bootstrap.css">
    <link rel="stylesheet" href="~/node_modules/bootstrap/compiler/style.css">
    <link rel="stylesheet" href="~/page_index.css">
    <title>Alge Comunicação Visual</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg  blue-primary" id="menu_nav">

            <div class="container">
                <a class="navbar-brand h1 nb-0" href="/home">Alge Visual</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarSite">

                    <ul class="navbar-nav ml-5" id="item-menu">

                       

                       

                        <li class="nav-item">

                            <a class="nav-link" href="/Home/Produto">Produtos</a>

                        </li>

                        @if (AlgeCookieController.UserStatus != null)
                        {
                            <li class="nav-link dropdown">
                              
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i style="color:white" class="fa fa-user" aria-hidden="true"></i> Minha conta</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Detalhes", "Profile", "Home")</li>

                                    <li>@Html.ActionLink("Carrinho", "Index", "Galeria", new { page = 1 }, null)</li>
                                    <li>@Html.ActionLink("Sair", "Logout", "Home")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-link">@Html.ActionLink("Fazer Login/Criar conta", "Login", "Home", new { t = 2 }, new { @class = "nav-bar-item-margin" })</li>
                        }


                    </ul>

                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Alge - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
