@model Alge.Models.Checkout.CheckoutModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Confirmação de Compra";
    Cart cart = CartCookieController.ReturnCart();
    CartCookieController.RefreshCartAmounts();


}
@using Alge;
@using Alge.DAO.Query;

<section class="container">
    <div class="row" style="margin: 3% 0 10% 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding: 3% 0"><h4 class="global-text-title"><i class="fa fa-shopping-cart" style="color:#bd053b; font-size:1.3em; margin-right:1%;" aria-hidden="true"></i>Confirme seu pedido</h4></div>
            </div>
        </div>
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Checkout", FormMethod.Post, new { @id = "validate-form" }))
            {<div class="col-md-6">

                    <table class="table">
                        <tr>

                            <th class="col-xs-2 col-md-8 form-group" style="padding: 8px 0;">Personalização:</th>

                            <th class="col-xs-2 col-md-2 form-group">Quantidade</th>
                            <th class="col-xs-2 col-md-2 form-group">Preço</th>
                        </tr>
                        @for (int i = 0; i < cart.Product.Count; i++)
                        {


                            <tr>
                                <td class="thumb-checkout-style" style="white-space:normal; padding-bottom:0px;">
                                    <p>@cart.Product[i].produtoCartFormat.Texto</p>
                                    <img src="@cart.Product[i].produtoCartFormat.Imagem" runat="server" style="max-width:100px; max-height:80px" />

                                    <a target="_blank" href=@Url.Action("Image", "Home", new { description = cart.Product[i].ProductID })></a>
                                    <p>Cod: @cart.Product[i].ProductID</p>


                                </td>


                                <td>
                                    @cart.Product[i].produtoCartFormat.Quantidade

                                </td>

                                <td>
                                    @String.Format("R$ {0:N2}", cart.Product[i].produtoCartFormat.Price)
                                    <a href="@Url.Action("RemoverCartItem", "Home", new { id = cart.Product[i].ProductCartUniqueKey })">Remover item</a>
                                </td>
                            </tr>


                        }
                    </table>
                    
                </div>
                <br />
                <div class="col-md-6">


                    <table class="table">

                        <tr>



                            <th class="col-xs-2 col-md-8 form-group" style="padding: 8px 0;">Valor Total do seu pedido</th>
                        </tr>
                        <tr>
                            <th class="col-xs-2 col-md-8 form-group" style="padding: 8px 0;"></th>
                            <th class="col-xs-2 col-md-8 form-group" style="padding: 8px 0;"></th>

                            <th class="col-xs-2 col-md-8 form-group" style="padding: 8px 0;">@String.Format("R$ {0:N2}", cart.CartTotalAmount)</th>

                        </tr>

                    </table>






                    @if (cart.Product.Count() > 0)
                    {
                    <div class="col-md-5">
                        <input type="submit" style="float:left" value="Confrimar pedido" class="btn btn-lg btn-success">
                    </div>

                    }



                </div>
            }
        </div> 
    
    
    </div>
   
    
  
    
  
</section>


