@model Alge.Models.ChangePasswordModel;
@{
    ViewBag.Title = "Alterar a senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SearchBar = true;
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    {
        <fieldset>
            <div class="container-fluid">
                <!--        Corpo Site-->
                <div style="margin-bottom: 20px;" class="row">
                    <div class="col-md-4 col-md-offset-4"><h2>Alterar senha</h2></div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            @{
                                Html.RenderPartial("~/Views/Shared/_Partial_left_navbar.cshtml");
                            }
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <form class="form">
                            <div class="form-group loginInputs">

                                @Html.Label("Nova senha")<br />
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder ="nova senha" , autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.NewPassword)<br />

                                @Html.Label("confime a nova senha")<br />
                                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = "confirme a nova senha" , autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)<br />
                                <p style="font-size:18px; color:red">@ViewBag.Message</p>
                                <p>
                                    <input type="submit" value="atualizar" class="form-control btn-outline-primary" />
                                </p>

                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </fieldset>
    }
}
