@{
    @model Alge.Models.Carrinho;

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SearchBar = true;
    List<Produto> Produtos = (List<Produto>)ViewBag.produtos;

}
@using Alge.Models.Produto;


<div class="container">
    <div class="row" style="margin: 3% 0 10% 0;">
        <div style="margin-bottom: 20px;" class="row">
            <div class="col-md-12"><h2>Detalhes</h2></div>
        </div>


        @foreach (Produto produto in Produtos)
        {@using (Html.BeginForm())
            {
                <div class="col-md-6 ">
                    <form class="form">
                        <div class="form-group loginInputs">

                            <p class="form-text-view">Personalize seu produto</p>
                            @Html.Label("Quantidade")
                            @Html.TextBoxFor(model => model.quantidade_produto, new { @class = "global-form-style", placeholder = "Quantidade", })
                            @Html.ValidationMessageFor(model => model.quantidade_produto)
                            <br />
                            @Html.Label("Texto personalizado")
                            @Html.TextBoxFor(model => model.texto_personalizado, new { @class = "global-form-style", placeholder = "Texto", })
                            @Html.ValidationMessageFor(model => model.texto_personalizado)




                            <p style="font-size:30px; color:red">@ViewBag.Message</p>
                            <p>
                                <input type="submit" name="@produto.id_produto" value="Addcarrinho" class="global-form-style" />
                            </p>
                        </div>
                    </form>
                </div>

            }
        <div class="col-md-6">

            

                <h5 class="card-title">@produto.nome</h5>
                <div class="card-body">

                    <img src="@produto.imagem" runat="server" style="max-width:200px; max-height:120px" />



                    <p>Cod: @produto.id_produto</p>
                    <p>@produto.descricao</p>
                    <p>R$ @produto.preco</p>
                    <p>Categoria @produto.categoria</p>



                </div>

            

        </div>


    }




    </div>

</div>



