@{
    @model Alge.Models.Carrinho;

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SearchBar = true;
    List<Produto> Produtos = (List<Produto>)ViewBag.produtos;

}
@using Alge.Models.Produto;


<div class="container">
    <div style="margin-bottom: 20px;" class="row">
        <div class="col-md-4 col-md-offset-4"><h2>Personalização</h2></div>
    </div>
        <div class="col-md-12 my-5">
            <div class="form-row">



                @foreach (Produto produto in Produtos)
                    @using (Html.BeginForm())
                    {
                        {<form action="" class="form-group col-sm-6" method="post" enctype="multipart/form-data">
                               


                                    <p class="form-text-view">Personalize seu produto</p>
                                    @Html.Label("Quantidade")
                                    <input type="number" class="form-control" min="1"  name="quantidade" />

                                    <br />
                                    @Html.Label("Texto personalizado")
                                    @Html.TextAreaFor(model => model.texto_personalizado, new { @class = "form-control", placeholder = "Texto", })
                                    @Html.ValidationMessageFor(model => model.texto_personalizado)




                                    <p style="font-size:30px; color:red">@ViewBag.Message</p>
                                    <p>
                                        <input style="max-width:300px;" type="submit" name="@produto.id_produto" value="Adicionar no carrinho" class="form-control btn-outline-info" />
                                    </p>



                                
                            </form>
                        }
                        <div class="form-group col-sm-4">



                            <h5 class="card-title">@produto.nome</h5>
                            <div class="card-body">

                                <img src="@produto.imagem" runat="server" style="max-width:200px; max-height:120px" />




                                <p>@produto.descricao</p>
                                <p>@String.Format("R$ {0:N2}", @produto.preco)</p>




                            </div>



                        </div>


                    }




            </div>

        </div>
 </div>

   <script>


       $(document).ready(function () {
           $("#qtd").keyup(function () {
               $("#qtd").val(this.value.match(/[0-9]*/));
           });
       });
   </script>


