@model LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}
@using Alge.Models

@using (Html.BeginForm())
{

<div class="card" id="tela-login">
    <div class="card-body">
        <form>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "error-message" })<br />
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Senha)
                @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Senha, null, new { @class = "error-message" })<br />
            </div>

            <button type="submit" class="btn btn-primary float-right">Login</button>

        </form>
        <a class="nav-link">
            @Html.ActionLink("Criar conta", "Register", "Home", new { @class = "nav-bar-item-margin" })
    </a>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
</div>



    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>






}