@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SearchBar = true;
    List<Produto> Produtos = (List<Produto>)ViewBag.produtos;
    
}
@using Alge.Models.Produto;


<div class="container-fluid">
    <div style="margin-bottom: 20px;" class="row">
        <div class="col-md-4 col-md-offset-4"><h2>Produtos</h2></div>
    </div>
    






    <div class="row">
        @if (ViewBag.carrinho == "")
        {


        }
        else
        {
            <div class="col-md-12">
                <p>@Html.Raw(@String.Format("Produto foi adicionado ao carrinho"))</p>
                <a href="@Url.Action("Index","Checkout")" class="form-control btn-outline-info">
                    Ir para o carrinho 
                </a>
            </div>

        }
        @foreach (Produto produto in Produtos)
        {

            <div class="col-md-3" style="padding-left:10px">

                <div class="card my-5 " style="width: 18rem;">



                    <div class="card-body">
                        <a href="/Home/Detalhe/@produto.id_produto">
                            <img src="@produto.imagem" runat="server" style="max-width:200px; max-height:120px" />
                            <h5 class="card-title">@produto.nome</h5>


                            <p>Cod: @produto.id_produto</p>
                            <p>@produto.descricao</p>
                            <p>Preço @String.Format("R$ {0:N2}", @produto.preco)</p>
                            <p>Categoria @produto.categoria</p>


                        </a>
                    </div>

                </div>

            </div>




        }

    </div>

</div>

<script src="~/script.js"></script>