@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SearchBar = true;
    List<Produto> Produtos = (List<Produto>)ViewBag.produtos;
   
}
@using Alge.Models.Produto;


<div class="container-fluid">
    <div style="margin-bottom: 20px;" class="row">
        <div class="col-md-4 col-md-offset-4"><h2>Produtos</h2></div>
    </div>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Cod do produto</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Categoria</th>
            </tr>
        </thead>

        <tbody>

            @foreach (Produto produto  in Produtos)
            {
                <tr>
                    <td>@produto.Id</td>
                    <td>@produto.nome</td>
                    <td>@produto.quantidade</td>
                    <td>@produto.preco</td>
                    <td>@produto.descricao</td>  
                    <td>@produto.categoria</td>
                </tr>
            }
        </tbody>
    </table>



       
</div>



