@model Alge.Models.UserProfileModel
@using Alge.Controllers

@{

    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SearchBar = true;
}
<style>
    .field-validation-error {
        color: red;
    }
</style>
<script src="~/scripts/MaskPlugin/MaskPlugin.js"></script>
<script src="~/scripts/MaskPlugin/MaskPlugin2.0.js"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="container-fluid">
            <!--        Corpo Site-->
            <div style="margin-bottom: 20px;" class="row">
                <div class="col-md-8 col-md-offset-4 col-sm-offset-3 col-sm-9s"><h2>Perfil</h2></div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="list-group">
                        @{
                            Html.RenderPartial("~/Views/Shared/_Partial_left_navbar.cshtml");
                        }
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-4">
                    <form class="form">
                        <div class="form-group loginInputs">

                            <p class="form-text-view">@Model.Id</p>

                            <p class="form-text-view">@Model.Email</p>

                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Email)

                            @Html.Label("Nome")
                            @Html.TextBoxFor(model => model.Name, new { @class = "global-form-style", placeholder = "Nome", @Value = Model.Name })
                            @Html.ValidationMessageFor(model => model.Name)<br />




                            @Html.Label("Telefone")
                            @Html.TextBoxFor(model => model.Phone, new { @class = "global-form-style", placeholder = "Telefone", @Value = Model.Phone })
                            @Html.ValidationMessageFor(model => model.Phone)<br />



                            <p style="font-size:18px; color:red">@ViewBag.Message</p>
                            <p>
                                <input type="submit" value="Atualizar" class="global-form-style" />
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </fieldset>

   

    


}