@model RegisterModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Cadastro ";
}
@using Alge.Models

@using (Html.BeginForm())
{

    <div class="card" id="tela-login">
        <div class="card-body">
            <form>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, (String)ViewBag.EmailRegister, new { @class = "global-form-style", placeholder = "Email" })

                    @Html.TextBoxFor(m => m.Name, (String)ViewBag.Name, new { @class = "global-form-style", placeholder = "nome" })

                    @Html.PasswordFor(m => m.Password, new { @class = "global-form-style", placeholder = "senha de 8 caracteres" })

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "global-form-style", placeholder = "confime a senha " })
                                     
                    @Html.TextBoxFor(m => m.MobilePhone, null, new { @class = "global-form-style phone-number-mask", placeholder = "Telefone celular" })

                </div>

                <button type="submit" class="btn btn-primary float-right">Cadastrar</button>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ErrorMessage
                    </div>
                }
            </form>
            <a
                class="nav-link">@Html.ActionLink("ir para o Login", "login", "Home", new { t = 2 }, new { @class = "nav-bar-item-margin" })
            </a>
        </div>
    </div>



    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>






}