@model RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cadastro ";
}
@using Alge.Models



<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="col-sm-12 my-5">
            <div class="card" id="cadastro">
                <div class="card-body">
                    <div class="col-sm-6 col-md-6 col-lg-12">

                        <form>

                            <div class="form-row">

                                <div class="form-group col-sm-12">

                                    <label>Email</label>
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, (String)ViewBag.EmailRegister, new { @class = "form-control", placeholder = "Email" })


                                </div>


                            </div>
                            <div class="form-row">

                                <div class="form-group col-sm-12">


                                    @Html.LabelFor(m => m.Name)
                                    @Html.TextBoxFor(m => m.Name, (String)ViewBag.Name, new { @class = "form-control", placeholder = "Nome completo" })

                                </div>


                            </div>
                            <div class="form-row">

                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "senha de 8 caracteres" })

                                </div>
                                <div class="form-group col-sm-4">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "confime a senha" })

                                </div>
                                <div class="form-group col-sm-4">

                                    @Html.LabelFor(m => m.MobilePhone)

                                    @Html.TextBoxFor(m => m.MobilePhone, null, new { @class = "form-control phone-number-mask", placeholder = "Telefone celular" })

                                </div>

                            </div>

                           

                            <div class="form-row">


                                <div class="form-group col-3-sm">

                                    <button type="submit" class="btn btn-primary" id="bt_cadastro ">Cadastrar</button>

                                </div>





                            </div>
                        </form>
                      
                    </div>

                </div>
            </div>
        </div>

        @if (ViewBag.MessageRegister != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.MessageRegister
            </div>
        }
    }
</div>



    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>






